.userinput1 {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 0.5% 1%;
    width: 10%;
    margin-right: 3%;
}
.userinput2 {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 0.5% 1%;
    width: 10%;
}
